{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
	<meta content="utf-8" http-equiv="encoding">
    <title>Home</title>
	<style>
        .title {
            background-color: black;
            color: white;
        }

        li {
            border: 1px solid;
            cursor: pointer;
            margin-bottom: 13px;
        }

    </style>

    <script src="https://unpkg.com/react@latest/dist/react.js"></script>
	<script src="https://unpkg.com/react-dom@latest/dist/react-dom.js"></script>
{#    <script src="https://unpkg.com/babel-standalone@6.15.0/babel.min.js"></script>#}
</head>
<body>
    <div id="root">{{ rendered_component }}</div>

    <script type="text/javascript">
        window.props = {{ rendered_component.props | safe }};
    </script>

    <script src="{% static "bundle.js" %}"></script>
</body>
</html>